[user]
    name = Kalvin
    email = kalvinsit.81381@redlandsschools.net
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current